## CS1005301 Introduction to Computer Science
## HW2-1
### Due date: 12/12/2025

### Student ID: B11423456
### Name: XXX

##### This homework set is to practice some common operations for the exploration on the data set and be familiar with the notebook environment. Please go through each question to provide your answer. In the meantime, we use the famous iris data set as an example for your reference. First, please load the working dataset "exam_results" provided with .csv format.

#### 1. Use `pandas.read_csv('file_path')` to load the dataset
#### Please use the **exam_results.csv** as the dataset for **df** parameter

In [1]:
import pandas as pd
import seaborn as sns
iris = sns.load_dataset('iris')

# Load the dataset from the file path
df = pd.read_csv('exam_results.csv')

#### 2. Use `(pandas_dataset).info()` to show the dataset information

In [2]:
# Example
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

#### Problem: Please use the **df** as the dataset to show the dataset information

In [ ]:
# Write Answer here (5pt)

#### 3. Check for missing values
- df.isna().sum()
-  df.notnull()

In [4]:
# Example 1
iris.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [5]:
# Example 2
iris.notnull()

     sepal_length  sepal_width  petal_length  petal_width  species
0            True         True          True         True     True
1            True         True          True         True     True
2            True         True          True         True     True
3            True         True          True         True     True
4            True         True          True         True     True
..            ...          ...           ...          ...      ...
145          True         True          True         True     True
146          True         True          True         True     True
147          True         True          True         True     True
148          True         True          True         True     True
149          True         True          True         True     True

[150 rows x 5 columns]

#### Problem: Please use the **df** as the dataset and check for missing values

In [ ]:
# Write Answer here (5pt)

#### 4. Use `(pandas_dataset).describe()` to show the statistical summary

In [7]:
# Example
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

#### Problem: Please use the **df** as the dataset to show the statistical summary

In [ ]:
# Write Answer here (5pt)

#### 5. Data Cleaning
- remove null - `(pandas_dataset).dropna()`
- remove duplicated data - `(pandas_dataset).drop_duplicates()`
- remove unecessary columns  - `(pandas_dataset).drop(columns=['col1', 'col2'])`

Example : Use `iris.drop_duplicates()`

In [ ]:
# Example
iris.drop_duplicates()

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[149 rows x 5 columns]

#### Problem: Please use `df.drop_duplicates()`

In [ ]:
# Write Answer here (10pt)

#### 6. Use `(pandas_dataset).query()` to query the data

Example : Query thedata with `species == "virginica"` from 'iris' dataset

In [10]:
# example
iris.query('species == "virginica"').head()

     sepal_length  sepal_width  petal_length  petal_width    species
100           6.3          3.3           6.0          2.5  virginica
101           5.8          2.7           5.1          1.9  virginica
102           7.1          3.0           5.9          2.1  virginica
103           6.3          2.9           5.6          1.8  virginica
104           6.5          3.0           5.8          2.2  virginica

#### Problem: Please query the data with `year == 109` from 'df' dataset

In [ ]:
# Write Answer here (10pt)

#### 7. Use `(pandas_dataset).columns` to show column names

In [13]:
# Example
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

#### Problem: Please use the **df** as the dataset and show the column names

In [ ]:
# Write Answer here (10pt)

#### 8. Change column name - `(pandas_dataset).rename(columns={  },inplace=True)`
Example : rename the column name from **species** to **Type** - `'species':'Type'`

In [15]:
# Example
iris.rename(columns={'species':'Type'},inplace=True)
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'Type'], dtype='object')

#### Problem: Please rename the column name in **df** dataset

from **number** to **inclass_number** - `'number':'inclass_number'`  
from **year** to **academic_year** - `'year':'academic_year'`

In [ ]:
# Write Answer here (10pt)

#### 9. Query after rename column
#### Problem:  Please query the data with `academic_year == 111`

(Do this after problem 8. is done)

In [ ]:
# Write Answer here (10pt)